:root {
  --red-dark: #BF3B44;
  --green-dark: #639339;
  --gray-100: #1B1D1E;
  --gray-200: #333638;
  --gray-300: #5C6265;
  --white: #FFFFFF;
  --line-height-30: 130%;
}

* {
  /* RESETAR TODOS OS ELEMENTOS */
  margin: 0;
  /* Espaço Externo */
  padding: 0;
  /* Espaço Interno */
  box-sizing: border-box;
}

html {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 16px;
}

body {
  background: var(--gray-100);
  color: var(--white)
}

.text-xs {
  font-size: 0.75rem;
  line-height: var(--line-height-30);
}

.text-sm {
  font-size: 0.875rem;
  line-height: var(--line-height-30);
}

.text-base {
  font-size: 1rem;
  /* 1rem = 16px */
  line-height: var(--line-height-30);
}

.text-lg {
  font-size: 1.125rem;
  line-height: var(--line-height-30);
}

.text-xl {
  font-size: 1.25rem;
  line-height: var(--line-height-30);
}

.text-light {
  font-weight: 300;
}

.text-regular {
  font-weight: 400;
}

.text-bold {
  font-weight: 700;
}

.main-container {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  justify-content: center;
}

.main-content {
  display: flex;
  max-width: 75rem;
  width: 100%;
  margin-inline: 1rem;
}

.header-container {
  display: flex;
  height: 5rem;
  background: var(--gray-300);
  width: 100%;
  justify-content: center;
  align-items: center;
}

.header-content {
  display: flex;
  max-width: 75rem;
  padding-inline: 1rem;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  gap: 1.25rem;
}

.header-content span {
  display: inline-block;
  cursor: pointer;
  position: relative;
}

.header-content span::after {
  background-color: var(--green-dark);
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.header-content span:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.header-content nav ul {
  list-style: none;
  display: flex;
  gap: 1rem;
}

.header-content nav ul li a {
  display: inline-block;
  position: relative;
  text-decoration: none;
  color: var(--white);
}

.header-content nav ul li a::after {
  background-color: var(--green-dark);
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.header-content nav ul li a:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
.feature-container
{
  display: flex;
}
.feature-content
{
  display: flex;
  flex-direction: column;
  gap: 1.75rem;
}